*::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDE6ED;
}

.create-div {
  height: 60vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.create-div h1{
  margin-bottom: 35px;
}

input {
  letter-spacing: 1px;
  width: 250px;
  height: 40px;
  padding: 8px;
  margin-bottom: 20px !important ;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease-in;
}

input:hover {
  border: 2px solid #068fff;
}

input::placeholder {
  font-size: 15px;
  color: #999999;
}

input::placeholder[value="Empty Field"] {
  color: red;
}

.submit-btn {
  width: 100px;
  height: 40px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.submit-btn:hover {
  background-color: #0056b3;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.create-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #0056b3;
}

.table-cont {
  margin: auto;
  display: flex;
  height: auto;
  align-items: center;
  padding: 65px;
  overflow-x: auto;
}
.top .create-btn{
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.table-div {
  height: 60vh;
  padding: 9px;
  border-radius: 7px;
  background-color: white;
  overflow-y: scroll;
}
.table-div .table-lg{
  background-color: white;
  display: block;
}
.table-div .table-sm{
  display: none;
}

table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: #333333;
  position: relative;
}

thead {
  border-radius: 9px !important;
  position: sticky;
  top: -9px;
  background-color: #e58282;
}

th,
td {
  width: auto;
  padding: 8px;
  text-align: left;
  border: none !important;
  font-size: large;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #e3d3d3ac;
}

.del-btn {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.del-btn:hover {
  background-color: #cc0000;
}

.edit-btn {
  margin-right: 5px;
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.edit-div{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit-div input{
  margin: 15px;
}
.edit-div button{
  margin-top: 19px;
}
@media screen and (max-width: 480px) {
  .App {
    height: 100vh;
    width: 100%;
  }
  .create-div{
    width: 80%;
    height: 50vh;
  }
  thead{
    top: 0px;
  }
  .table-cont {
    height: 100vh;
    padding: 0;
    margin: auto;
  }
  .table-div .table-lg{
    display: none;
  }
  .table-div{
    border-radius: 4px;
    padding: 0px 5px;

  }
  .table-div .table-sm{
    background-color: white;
    display: block;
  }
  .table-div {
    margin: auto;
  }
  th,
  td {
    width: 30%;
    padding: 4px;
    font-size: 12px;
    border: none !important;
  }



  th {
    font-size: 14px;
  }
  .del-btn,
  .edit-btn {
    letter-spacing: 1px;
    padding: 2px 7px;
    font-size: 12px;
  }
  .top .create-btn{
    letter-spacing: 1px;
    font-weight: 100;
    padding: 6px 9px;
  }
}
