.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.top{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.top:hover{
  color: rgb(6, 6, 219);
  font-size: 16.6px;
  transition: 0.1s ease-in-out;
}
.button{
  width: 100%;
}

@media (max-width: 767px) {
  /* CSS styles for mobile screens */
  .container {
    /* Modify container styles for mobile */
  }
  
  .row {
    /* Modify row styles for mobile */
  }
  
  .col {
    /* Modify column styles for mobile */
  }
  
  .table-cont {
    /* Modify table container styles for mobile */
  }
  
  .table {
    /* Modify table styles for mobile */
  }
  
  /* Continue modifying other styles for mobile as needed */
  
  .App {
    /* Modify overall app styles for mobile */
  }
  
  .top {
    /* Modify top styles for mobile */
  }
  
  .button {
    /* Modify button styles for mobile */
  }
}
